body {
    background-color: #fff;
    /* fonts */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #fe8801;
    padding: 15px;
}

.headerH2{
    font-size: 22px;
    text-align: center;
}

.footer{
    font-size: 18px;
    text-align: center;
    background-color: #fe8801;
    padding: 18px;
    margin: 0px;
}
h1 {
    font-size: 23px;
}
 /* div del carrito */
div {
    text-align: center;
    border: 1.7px solid #000;
    border-radius: 15px;
    margin: 35px 30px;
}

/* clase img dentro de carrito */
.img-div{
    width: 90%;
}

/* clase div dentro del carrito */
.claseCreateE{
    font-size: 25px;
    margin: 5px;
}
/* clase del h1 html */
.claseH{
    text-align: center;
    font-size: 30px;
}
/* clase del h2 html */
.claseH2{
    text-align: center;
    font-size: 19px;
}
/* clase del btn agregar */
.productoAgregar{
    margin: 15px;
    padding: 20px 30px;
    border-radius: 15px;
    border: 1.9px solid #000;
    background-color: #fe8801;
    color: black;
    cursor: pointer;
}
/* clase btnComprar */
.btnComprar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* boton comprar productos */
button{
    padding: 20px 30px;
    border-radius: 15px;
    border: 1.9px solid #000;
    background-color: #fe8801;
    color: black;
    cursor: pointer;
}

/* clase parrafo antes de ir a carrito */

.claseP{
    text-align: center;
    margin: 15px;
    font-size: 20px;
}
