body {
    background-color: #fff;
    /* fonts */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #fe8801;
    padding: 15px;
}

.headerH2{
    font-size: 22px;
    text-align: center;
}

.footer{
    font-size: 18px;
    text-align: center;
    background-color: #fe8801;
    padding: 18px;
    margin: 0px;
}
h1 {
    font-size: 23px;
}
 /* div del carrito */
div {
    text-align: center;
    border: 1.7px solid #000;
    border-radius: 15px;
    margin: 35px 30px;
    display: flex;
    flex-direction: column;
}

/* clase img dentro de carrito */
.img-div{
    width: 90%;
}

/* clase div dentro del carrito */
.claseCreateE{
    font-size: 25px;
    margin: 5px;
}
/* clase del h1 html */
.claseH{
    text-align: center;
    font-size: 30px;
}
/* clase del h2 html */
.claseH2{
    text-align: center;
    font-size: 19px;
}
/* clase del btn agregar */
.productoAgregar{
    margin: 15px;
    padding: 15px 50px;
    border-radius: 15px;
    border: 1.9px solid #000;
    background-color: #fe8801;
    color: black;
    cursor: pointer;
}
/* clase btnComprar */
.btnComprar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* boton comprar productos */
button{
    padding: 20px 100px;
    border-radius: 15px;
    border: 1.9px solid #000;
    background-color: #fe8801;
    color: black;
    cursor: pointer;
}

/* clase parrafo antes de ir a carrito */

.claseP{
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

@media only screen and ( min-width:450px) and (max-width: 650px){
    div {
        text-align: center;
        border: 1.7px solid #000;
        border-radius: 15px;
        margin: 30px 100px;
        display: flex;
        flex-direction: column;
    }

    .img-div{
        width: 100%;
    }

    button{
        padding: 20px 100px;
        margin: 20px;
        border-radius: 15px;
        border: 1.9px solid #000;
        background-color: #fe8801;
        color: black;
        cursor: pointer;
        font-size: 17px;
    }

}

@media only screen and ( min-width:650px) and (max-width: 800px){

    div {
        text-align: center;
        border: 1.7px solid #000;
        border-radius: 15px;
        margin: 30px 200px;
        display: flex;
        flex-direction: column;
    }

    .img-div{
        width: 100%;
    }

    .claseCarrito{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
    }

    #cart-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    button{
        padding: 20px 90px;
        margin: 20px;
        border-radius: 15px;
        border: 1.9px solid #000;
        background-color: #fe8801;
        color: black;
        cursor: pointer;
        font-size: 17px;
    }


}

@media only screen and ( min-width:801px) and (max-width: 1108px){

    div {
        text-align: center;
        border: 1.7px solid #000;
        border-radius: 15px;
        margin: 30px 300px;
        display: flex;
        flex-direction: column;
    }

    .img-div{
        width: 100%;
    }

    .claseCarrito{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
    }

    #cart-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    button{
        padding: 20px 90px;
        margin: 20px;
        border-radius: 15px;
        border: 1.9px solid #000;
        background-color: #fe8801;
        color: black;
        cursor: pointer;
        font-size: 17px;
    }

}

@media only screen and ( min-width:1109px) and (max-width: 1800px){
   
    div {
        text-align: center;
        border: 1.5px solid #000;
        border-radius: 15px;
        margin: 15px 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #products-container{
        display: flex;
    }
  
    .img-div{
        width: 100%;
    }

    .headerH2{
        font-size: 29px;
        text-align: center;
    }

    .claseH{
        text-align: center;
        font-size: 25px;
    }

    .footer{
        font-size: 18px;
        text-align: center;
        background-color: #fe8801;
        padding: 25px;
        margin: 0px;
    }

    /* pagina carrito */

    #cart-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .claseCarrito{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
    }
    #total-section{
        margin: 10px 550px;
    }

    button{
        padding: 20px 90px;
        margin: 20px;
        border-radius: 15px;
        border: 1.9px solid #000;
        background-color: #fe8801;
        color: black;
        cursor: pointer;
        font-size: 17px;
    }
}